<h1>Liste des restaurants</h1>

<img src="">

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="minRating">Min</label>
      <input type="text" id="minRating" name="minRating" class="form-control" [(ngModel)]="minRating"
        (change)="filterRating()">
    </div>
    <div class="form-group col-md-6">
      <label for="maxRating">Max</label>
      <input type="text" id="maxRating" name="maxRating" class="form-control" [(ngModel)]="maxRating"
        (change)="filterRating()">
    </div>
  </div>
</form>

<ul *ngFor="let item of listRestaurantFilter">
  <li (click)="showInMap(item)" [ngClass]="{restaurantSelected: restaurantName == item.name}">
    <div class="row" (click)="restaurantName = item.name">
      <h5 class="col"> {{ item.name }} </h5>
      <p class="col text-right">{{ item.rating }} / 5</p>
    </div>
  </li>
</ul>
